 /*   BASE SETTINGS   */
body 
{
    background-color: #ffffff3b !important; 
    overflow-y: hidden !important; 
    overflow-x: hidden !important
}

/* Back [LEFT] Inventory */
.buttom-left-inventory-container
{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 2px;
    grid-row-gap: 30px;
    position: absolute;
    display: grid;
    height: 52%;
    width: 30%;
    top: 200px;
    left: 12%;
}

.buttom-left-inventory-item 
{
    box-shadow: 0px 26px rgba(29, 29, 29, 0.658);
    background-color: rgba(29, 29, 29, 0.384);
    height: 110px;
}

.buttom-left-inventory-item p 
{
    background-color: rgba(29, 29, 29, 0.685);
    text-align: center;
    position: relative;
    color: white;
    height: 25%;
    top: 85%;
}

.buttom-left-inventory-item img
{
    position: absolute;
    margin-right : auto;
    margin-left: auto;
    display: block;
    height: 20%;
    width: 20%;
}

/* Top [LEFT] Inventory */
.top-left-inventory-container
{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 2px;
    grid-row-gap: 30px;
    position: absolute;
    display: grid;
    height: 52%;
    width: 30%;
    top: 200px;
    left: 12%;
}

.top-left-inventory-item 
{
    background-color: rgba(29, 29, 29, 0.288);
    height: 110px;
}

.top-left-inventory-item p 
{
    background-color: rgba(29, 29, 29, 0.507);
    position: relative;
    text-align: center;
    color: white;
    height: 25%;
    top: 85%;
}

.top-left-inventory-item img
{
    position: absolute;
    margin-right : auto;
    margin-left: auto;
    display: block;
    width: 20%;
    height: 20%;
}



/* Back [RIGHT] Inventory */
.buttom-right-inventory-container
{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 2px;
    grid-row-gap: 30px;
    position: absolute;
    display: grid;
    height: 52%;
    width: 30%;
    top: 200px;
    left: 55%;
}

.buttom-right-inventory-item 
{
    box-shadow: 0px 26px rgba(29, 29, 29, 0.658);
    background-color: rgba(29, 29, 29, 0.384);
    height: 110px;
}

.buttom-right-inventory-item p 
{
    background-color: rgba(29, 29, 29, 0.685);
    text-align: center;
    position: relative;
    color: white;
    height: 25%;
    top: 85%;
}

.buttom-right-inventory-item img
{
    position: absolute;
    margin-right : auto;
    margin-left: auto;
    display: block;
    height: 20%;
    width: 20%;
}

/* Top [RIGHT] Inventory */
.top-right-inventory-container
{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 2px;
    grid-row-gap: 30px;
    position: absolute;
    display: grid;
    height: 52%;
    width: 30%;
    top: 200px;
    left: 55%;
}

.top-right-inventory-item 
{
    background-color: rgba(29, 29, 29, 0.288);
    height: 110px;
}

.top-right-inventory-item p 
{
    background-color: rgba(29, 29, 29, 0.507);
    position: relative;
    text-align: center;
    color: white;
    height: 25%;
    top: 85%;
}

.top-right-inventory-item img
{
    position: absolute;
    margin-right : auto;
    margin-left: auto;
    display: block;
    width: 20%;
    height: 20%;
}












/*  Button's    */
.button-row 
{
    grid-template-columns: auto;
    position: absolute;
    display: grid;
    padding: 10px;
    width: 100px;
    left: 850px;
    top: 250px;
}

.button 
{
    background-color: rgba(29, 29, 29, 0.384);
    border-radius: 1px 1px;
    text-align: center;
    color: white;
    padding: 15px;
    width: 90px;
    border: 3px;
    margin: 5px;
}